<form action="/weather" method="POST">
  <input type="text" placeholder="Enter a City" name="cityName" />
  <button type="submit" name="action">Get Weather</button>
</form>
<p style="color: darkblue">{{weatherText}} {{err}}</p>